@charset "utf-8";
table {
  border-collapse: collapse;
  font-size: 1.2rem;
}

th {
  border: 3px solid #000;
}

td {
  border: 3px solid #000;
}

td:first-child {
  border-top: none;
  border-right: none;
  border-left: none;
}

tr:first-child {
  text-align: center;
}
