html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Hiragino Sans', 'Montserrat', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.8px;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    border-style: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*--------------------------------
レイアウト
---------------------------------*/

.section {
    height: auto;
    padding: 80px 0;
}

.section:nth-of-type(odd) {
    background-color: #fff;
}

.inner {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0;
}

.original-inner {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 15%;
}

.section:nth-child(even) {
    background-color: #f7f7f7;
}

.footer.section {
    padding: 0;
    background-color: #333;
}

/*--------------------------------
見出し
---------------------------------*/
.title {
    font-size: 34px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000;
}

/*--------------------------------
ヘッダー
---------------------------------*/

.header {
    width: 90%;
    top: -1px;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background: #fff;
    position: fixed;
}

.header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px 20px 0;
}

.header-nav-item a {
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    padding: 5px 0;
    transition: 0.3s;
    letter-spacing: 0.05em;
    color: #333;
}

.header-nav-item a:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    content: '';
    transition: 0.3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #333;
}

.header-nav-item a:hover:after {
    width: 100%;
}

.header-logo {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.05em;
}

.header-logo a {
    color: #333;
}

.drawer_hidden {
    display: none;
}

.drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
}

.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
}

.drawer_open span:before {
    bottom: 8px;
}

.drawer_open span:after {
    top: 8px;
}

#drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
}

#drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
}

.header-nav {
    width: 100%;
    height: 55%;
    position: fixed;
    bottom: 110%;
    left: 0%; /* メニューを画面の外に飛ばす */
    background: #ccc;
    transition: all 0.5s;
    text-align: center;
    padding-top: 20px;
}

#drawer_input:checked ~ .header-nav {
    bottom: 45%;
}

/*--------------------------------
メインビジュアル
---------------------------------*/
.main-visual {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    text-align: center;
}

.main-visual-inner {
    padding: 0 40px;
}

.main-visual-title {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5px;
    letter-spacing: 0.1em;
}

.main-visual-subtitle {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 40px;
    letter-spacing: 0.08em;
}

.main-visual-profile {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.main-visual-img {
    width: 20%;
    margin-right: 30px;
    border-radius: 50%;
}

.main-visual-img img {
    border-radius: 50%;
}

.main-visual-text {
    flex: 1;
}

.main-visual-sub {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.main-visual-title-sub {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 0.1em;
}

.main-visual-img-sub {
    width: 15%;
    margin-right: 20px;
}

.main-visual-img-sub img {
    border-radius: 50%;
}

/*--------------------------------
Works
---------------------------------*/
.works-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
}

.works-item {
    width: 31.74603%;
    margin-right: 1.5873%;
    margin-bottom: 40px;
    color: #333;
}

.works-img img {
    border: 1px solid #e6e6e6;
}

.btn-denim {
    display: inline-block;
    max-width: 180px;
    text-align: center;
    background-color: #293b6a;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border: 1px dashed #fff;
    box-shadow: 0px 0px 0px 2px #293b6a;
    /* box-shadowで外枠を */
}

.btn-denim:hover {
    border: solid;
    opacity: 0.6;
}

.btn-box {
    display: inline-block;
    max-width: 180px;
    text-align: center;
    font-size: 14px;
    color: #9ec34b;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    position: relative;
    border: 2px solid #9ec34b;
    transition: 0.4s;
}

.btn-box:hover {
    border: 2px solid transparent;
    color: #000;
}

.btn-box:before,
.btn-box:after {
    width: 100%;
    height: 100%;
    z-index: 3;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transform: scale(0);
    transition: 0.2s;
}

.btn-box:before {
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    transform-origin: 100% 0%;
}

.btn-box:after {
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform-origin: 0% 100%;
}

.btn-box:hover:after,
.btn-box:hover:before {
    transform: scale(1);
}

/*--------------------------------
About
--------------------------------*/
.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    font-size: 1.2rem;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

th {
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
}

/*--------------------------------
Skill
---------------------------------*/
.skill-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: -50px;
}

.skill-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
}

.skill-img {
    width: 60px;
    height: auto;
    margin-right: 20px;
}

.skill-body {
    flex: 1;
}

.skill-name {
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.8px;
}

/*--------------------------------
photo
--------------------------------*/

.photo {
    height: auto;
}

.photo ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.photo .inner {
    margin-bottom: 60px;
}

.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
}

.slider img {
    width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
    max-height: 75vh;
}

.slider .slick-slide {
    transform: scale(0.8);/*左右の画像のサイズを80%に*/
    transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
    opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
    transform: scale(1);/*中央の画像のサイズだけ等倍に*/
    opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

ul .slick-dots {
    flex-direction: row;
    justify-content: center;
    margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
    margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    border: 0px;
    background:#00b6bd;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    opacity: 0.5;/*ドットボタンの現在地表示の色*/
    transform: scale(1.3);
}

/*--------------------------------
recommend
---------------------------------*/

.recommend .title {
    padding-top:80px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-item:first-child {
    width: 80vw;
}

.flex-item:first-child iframe{
    width: 100%;
    height: 40vh;
}

.flex-item:last-child {
    display: none;
}

.flex-item a:hover {
    cursor: pointer;
    opacity: 0.7;
}

.flex-item h2 {
    text-align: center;
    color: #00b6bd;
}

.flex-item p {
    font-size: 16px;
}

/*--------------------------------
contact
---------------------------------*/

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.form-title {
    margin-bottom: 2px;
    font-size: 1.2rem;
}

.contact-item input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-item select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 60%;
}

.contact-item textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 100px;
    width: 100%;
}

.must {
    margin-left: 5px;
    padding: 2px;
    font-size: 0.8rem;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    width: 100%;
    padding: 10px 50px;
    background-color: #7f6666;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

/*--------------------------------
ページトップ
---------------------------------*/
.page-top {
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.page-top a {
    vertical-align: bottom;
    color: #fff;
}

/*--------------------------------
フッター
---------------------------------*/

.copyright {
    font-size: 10px;
    text-align: center;
    color: #797979;
}

.topic-path {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    justify-content: space-around;
}
.topic-item {
    width: 150px;
    margin: 10px 0;
}

.topic-item a {
    color: #fff;
    justify-content: center;
    transition: all 0.5s;
}

.topic-content {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #fff;
    border-radius: 35px;
}

.topic-item a:hover {
    color: #333;
    background-color: #fff;
}
